@model LibrarySystemPro.WebClient.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Author Name: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Gender: ")
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.GenderTransformation(model))
        </dd>

        <dt>
            @Html.Label("Birthdate: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
